# CLion
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# CMake
cmake-build-*/

# VSCode
.vscode/

# G++
main.dSYM/
main.o.dSYM
*.dSYM/
*.o.dSYM
